<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서식별 문서관리</title>
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/layout.css">
    <link rel="stylesheet" href="./style.css">
    <script src="../../../public/js/jquery-3.6.0.min.js"></script>
    <script src="../../../public/js/global.js"></script>
</head>

<body>
    <script>
        $(document).ready(function () {
          $("header").load("../../../public/component/header.html");
          $("nav").load("../../../public/component/nav.html");
        });
      </script>
    <header>
    </header>
    <main>
        <nav>
        </nav>
        <div class="tab_wrap">
            <ul class="tab_list">
                <li class="active">
                    <span>미완성</span>
                    <button>
                        <img class="icon" src="../../../public/image/close.svg" alt="">
                    </button>
                </li>
            </ul>
            <section>
            </section>
        </div>
    </main>
</body>

</html>