.reg_modal {
    width: 700px;
    height: 540px;
    padding: 10px;
}

.reg_modal .reg_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

.reg_modal .reg_header .btn_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.reg_modal .wrap {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 25px);
}

.reg_modal .form_wrap > *:not(:last-child) {
    margin-bottom: 5px;
}
.reg_modal .form_wrap > * {
    width: 100%;
    height: 28px;
}
.reg_modal .type_wrap {
    height: calc(100% - 33px * 5);
}

.reg_modal .type_header {
    margin-bottom: 5px;
}

.reg_modal .type_header select{
    flex-grow: 1;
}
 
.reg_modal .form_wrap .type_wrap ul {
    height: calc(100% - 33px);
    max-height: calc(100% - 33px);
}

.reg_modal .wrap > * {
    width: calc(50% - 5px);
}

.reg_modal > *:not(:last-child) {
    margin-bottom: 5px;
}
.reg_modal .index_wrap {
    border: 1px solid var(--gray5);
}
.reg_modal .index_content {
    height: 100%;
}

.reg_modal .index_content .list_wrap {
    height: calc(100% - 31px);
}

.toggle_wrap {
    display: flex;
    align-items: center;
}

.toggle_wrap .check_toggle {
    margin-left: 8px;
}
