<link rel="stylesheet" type="text/css" href="./modal/reg.css" />
<form class="reg_modal">
  <div class="btn_wrap">
    <button>
      <img
        class="icon"
        src="../../../public/image/doc_save_subject.svg"
        alt=""
      />
    </button>
    <button>
      <img
        class="icon"
        src="../../../public/image/template_item_refresh_item.svg"
        alt=""
      />
    </button>
  </div>

  <input type="text" class="input_style" placeholder="항목명" />

  <div class="fields">
    <select class="select_style" required>
      <option value="" hidden selected>항목속성 선택</option>
      <option value="">항목</option>
    </select>
    <div class="toggle_wrap">
      <span>사용유무</span>
      <label class="check_toggle">
        <input type="checkbox" checked />
        <div class="check_toggle_style"></div>
        <span class="toggle_t">On</span>
        <span class="toggle_f">Off</span>
      </label>
    </div>
  </div>

  <div class="fields">
    <select class="select_style" required>
      <option value="" hidden selected>검증항목 선택</option>
      <option value="">항목</option>
    </select>
    <select class="select_style" required>
      <option value="" hidden selected>항목 검증형태 선택</option>
      <option value="">항목</option>
    </select>
  </div>
  <textarea placeholder="항목 설명"></textarea>
</form>
