<link rel="stylesheet" type="text/css" href="./modal/reg.css" />
<div class="reg_modal">
  <div class="reg_header">
    <p class="em_desc">
      서식 기초정보
    </p>
    <div class="btn_wrap">
      <button>
        <img
          class="icon"
          src="../../../public/image/doc_save_subject.svg"
          alt=""
        />
      </button>
      <button>
        <img
          class="icon"
          src="../../../public/image/template_item_refresh_item.svg"
          alt=""
        />
      </button>
    </div>
  </div>
  <div class="wrap">
    <div class="form_wrap">
      <div class="fields">
        <select class="select_style" required>
          <option value="" hidden selected>상품 분류 선택</option>
          <option value="">항목</option>
        </select>
        <select class="select_style" required>
          <option value="" hidden selected>상품 중분류 선택</option>
          <option value="">항목</option>
        </select>
      </div>
      <input type="text" class="input_style" placeholder="서식코드" />
      <input type="text" class="input_style" placeholder="서식명" />
      <div class="fields">
        <select class="select_style" required>
          <option value="" hidden selected>서식 유형 선택</option>
          <option value="">항목</option>
        </select>
        <div class="toggle_wrap">
          <span>사용유무</span>
          <label class="check_toggle">
            <input type="checkbox" checked />
            <div class="check_toggle_style"></div>
            <span class="toggle_t">On</span>
            <span class="toggle_f">Off</span>
          </label>
        </div>
      </div>
      <div class="fields">
        <label class="radio_label">
          <input type="radio" onchange="onChangeMode(event)" name="docRegMode" value="new" checked/>
          <div class="radio_style"></div>
          <span>신규등록</span>
        </label>
        <label class="radio_label">
          <input type="radio" onchange="onChangeMode(event)" name="docRegMode" value="upload" />
          <div class="radio_style"></div>
          <span>파일업로드</span>
        </label>
      </div>
      <div class="modewrap" id="docRegMode" data-mode="new">
        <div class="type_con">
          <select class="select_style" required>
            <option value="" hidden selected>목차 선택</option>
            <option value="">항목</option>
          </select>
          <button>
            <img
              class="icon"
              src="../../../public/image/doc_save_subject.svg"
              alt=""
            />
          </button>
          <button>
            <img
              class="icon"
              src="../../../public/image/doc_drop_subject.svg"
              alt=""
            />
          </button>
        </div>
        <div class="upload_box">
          <input
            type="text"
            readonly
            class="upload_name"
            data-uploadname="term"
            placeholder="파일선택"
          />
          <label class="upload_btn">
            <img
              class="icon"
              src="../../../public/image/file_share.svg"
              alt=""
            />
            <input type="file" data-upload="term" />
          </label>
        </div>
      </div>
      <ul class="list">
        <li>(목차) 목차명</li>
        <li>(발표) 발표명</li>
        <li class="active">(파일) 파일명</li>
      </ul>
    </div>
    <div class="index_wrap">
      <div class="index_content">
        <div class="btn_wrap">
          <div class="left_area">
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_add_subject.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_moveDown_subject.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_moveUp_subject.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_moveLeft_subject.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_moveRight_subject.svg"
                alt=""
              />
            </button>
          </div>
          <div class="right_area">
            <button>
              <img
                class="icon"
                src="../../../public/image/template_item_refresh_item.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/nav_edit.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_save_subject.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/doc_drop_subject.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <div class="list_wrap">
          <ul>
            <li>
              <p class="list_title">
                <img
                  class="icon"
                  src="../../../public/image/folder.svg"
                  alt=""
                />
                <span>Level 0 목차 1</span>
              </p>
              <ul>
                <li>
                  <p class="list_title">
                    <img
                      class="icon"
                      src="../../../public/image/folder.svg"
                      alt=""
                    />
                    <span>Level 1 목차 1.1</span>
                  </p>
                  <ul>
                    <li>
                      <p class="list_title">
                        <img
                          class="icon"
                          src="../../../public/image/folder.svg"
                          alt=""
                        />
                        <span>Level 1 목차 1.1.1</span>
                      </p>
                    </li>
                    <li>
                      <p class="list_title">
                        <img
                          class="icon"
                          src="../../../public/image/folder.svg"
                          alt=""
                        />
                        <span>Level 0 목차 1</span>
                      </p>
                    </li>
                    <li>
                      <p class="list_title">
                        <img
                          class="icon"
                          src="../../../public/image/folder.svg"
                          alt=""
                        />
                        <span>Level 0 목차 1</span>
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="list_title">
                    <img
                      class="icon"
                      src="../../../public/image/folder.svg"
                      alt=""
                    />
                    <span>Level 0 목차 1</span>
                  </p>
                  <ul>
                    <li>
                      <p class="list_title">
                        <img
                          class="icon"
                          src="../../../public/image/folder.svg"
                          alt=""
                        />
                        <span>Level 0 목차 1</span>
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
