section {
    padding: 0 10px;
  }
  
  .section_header {
    height: 76;
    padding-top: 12px;
  }
  
  .page_wrap,
  .page_wrap p,
  .search_wrap,
  .search_wrap > .left_area,
  .page_wrap > div {
    display: flex;
    align-items: center;
  }

  .search_wrap,
  .page_wrap,
  .page_wrap > .left_area  {
    justify-content: space-between;
    height: 32px;
  }

  .search_wrap .search,
  .page_wrap > .left_area {
    width: 380px;
    padding-left: 5px;
  }

  .page_wrap .right_area {
    gap: 10px;
  }

  .search_wrap .search {
    height: 32px;
    border: 1px solid var(--gray5);
    background-color: var(--white);
    margin-right: 16px;
  }
  .search_wrap .search input {
    border: none;
    background: none;
    flex-grow: 1;
    height: 100%;
    padding: 0 5px;
    font-size: var(--fs-xs);
  }
  .search_desc {
    display: flex;
    align-items: center;
  }
  .search_desc img {
    margin-right: 5px;
  }
  
  .page select {
    margin-left: 5px;
  }
  
  .table,
  .main_table {
    height: calc(100% - 76px);
  }
  