.reg_modal {
    width: 1000px;
    height: 600px;
    display: flex;
}
.reg_modal > div:nth-child(1),
.reg_modal > div:nth-child(3) {
    width: 35%;
}
.reg_modal > div:nth-child(2) {
    width: 30%;
}

.reg_modal .reg_header {
    padding: 0 5px;
    height: 32px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray5);
}

.reg_form .reg_header {
    padding: 0;
}
.reg_form .reg_header select {
    width: 100%;
    height: 100%;
    border: none;
}
.reg_form {
    border-right: 1px solid var(--gray5);
}

.sp_area .table,
.file_area .file_content,
.reg_form .form_content {
    height: calc(100% - 32px);
}

.reg_form .form_content {
    padding: 5px;
}

.reg_form .form_content > * {
    width: 100%;
}
.reg_form .form_content > *:not(:last-child) {
    margin-bottom: 5px;
}

.reg_form .form_content .btn_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.reg_form .form_content ul {
    width: 100%;
    height: calc(100% - 203.5px);
    background-color: var(--white);
    border: 1px solid var(--gray5);
}

.toggle_wrap {
    display: flex;
    align-items: center;
}

.toggle_wrap .check_toggle {
    margin-left: 8px;
}

.reg_form_area textarea {
    height: 80px;
}

.file_area .reg_header {
    justify-content: space-between;
}

.file_area .reg_header .btn_wrap {
    display: flex;
    gap: 5px;
}

.file_content {
    border-left: 1px solid var(--gray5);
}

.file_content .wrap {
    height: calc(50% - 20px);

}
.file_content .wrap ul {
    height: calc(100% - 37px);
    border-top: 1px solid var(--gray5);
}



.file_header {
    height: 32px;
    margin-bottom: 5px;
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--gray5);
    background-color: transparent;
}

.file_content .arrow_wrap {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-top: 1px solid var(--gray5);
    border-bottom: 1px solid var(--gray5);

}
.file_content .arrow_wrap button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
}


.sp_content .table {
    width: 100%;
    height: 100%;
} 