.detail_modal {
    padding: 10px;
    width: 900px;
    height: 600px;
}

.detail_modal .stack_table {
    width: 100%;
}

.detail_modal .ct_header input{
    height: 32px;
}

.detail_modal .ct_header .grow {
    flex-grow: 1;
    flex-shrink: 1;
}