<div class="left_area">
    <figure class="logo">
        <img class="icon" src="../../../public/image/logo.svg" alt="logo">
    </figure>
    <select class="select_style">
        <option value="" selected>Quantum IDP</option>
        <option value="">Quantum</option>
    </select>
</div>
<div class="header_control">
    <div class="control_left">
        <button>
            <img class="icon" src="../../../public/image/doc_unlock.svg" alt="">
        </button>
        <div class="zoom_wrap">
            <button>
                <img class="icon" src="../../../public/image/doc_sizeDown_text.svg" alt="">
            </button>
            <span>100%</span>
            <button>
                <img class="icon" src="../../../public/image/doc_sizeUp_text.svg" alt="">
            </button>
        </div>
    </div>
    <input type="text"  value="(무)건강보험(21.02)_보험료 및 책임준비금 산출방법서">
    <div class="conrol_btn">
        <button>
            <img class="icon" src="../../../public/image/doc_save_subject.svg" alt="">
        </button>
        <button>
            <img class="icon" src="../../../public/image/doc_print_paper.svg" alt="">
        </button>
        <button>
            <img class="icon" src="../../../public/image/doc_drop_subject.svg" alt="">
        </button>
    </div>
</div>
<div class="right_area">
    <div class="btn_wrap">
        <button>
            <img class="icon" src="../../../public/image/menu_window_size_big.svg" alt="">
        </button>
        <button>
            <img class="icon" src="../../../public/image/menu_timer.svg" alt="">
        </button>
        <button>
            <img class="icon" src="../../../public/image/menu_calendar.svg" alt="">
        </button>
    </div>
</div>
