<div class="main_nav">
    <ul>
         <li data-mainnav="home">
             <img class="icon" src="../../../public/image/menu_home.svg" alt="">
             <span>홈</span>
         </li>
         <li data-mainnav="template">
             <img class="icon" src="../../../public/image/menu_template.svg" alt="">
             <span>템플릿</span>
         </li>
         <li data-mainnav="document">
             <img class="icon" src="../../../public/image/menu_document.svg" alt="">
             <span>문서</span>
         </li>
         <li data-mainnav="product">
             <img class="icon" src="../../../public/image/menu_product.svg" alt="">
             <span>상품</span>
         </li>
         <li>
             <img class="icon" src="../../../public/image/menu_organization.svg" alt=""> 
             <span>조직</span>
         </li>
     </ul>
     <div class="bottom_area">
         <button>
             <img class="icon" src="../../../public/image/menu_user.svg" alt="">
         </button>
         <button>
             <img class="icon" src="../../../public/image/menu_settings.svg" alt="">
         </button>
     </div>
</div>

<div class="sub_nav show">
    <div class="title">
        <h1>
            <img class="icon" src="../../../public/image/doc_title.svg" alt="">
            <span id="menu_title">문서관리</span>
        </h1>
        <!-- <div class="button_wrap">
            <button>
                <img class="icon" src="../../../public/image/doc_create_item.svg" alt="">
            </button>
            <button>
                <img class="icon" src="../../../public/image/doc_bookmark_item.svg" alt="">
            </button>
        </div> -->
    </div>
    <ul id="sub_menu">
        <!-- <li onclick="location.href='../product/index.html'">
            <img class="icon" src="../../../public/image/star.svg" alt="">
            <span>상품별 문서관리</span>
        </li> -->
    </ul>
</div>
   


<script src="../../../public/js/nav.js"></script>