.reference_modal {
  display: flex;
  overflow: hidden;
  width: 900px;
  height: 680px;
}

.reference_modal .index_content {
  width: 30%;
  height: 100%;
  border-right: 1px solid var(--gray5);
}

.reference_modal .index_content .list_wrap {
  height: calc(100% - 32px);
}

.reference_modal .form_area {
  width: 70%;
  height: 100%;
}
