.reference_modal {
  display: flex;
  overflow: hidden;
  width: 1100px;
  height: 680px;
}

.reference_modal .accordion {
  width: 25%;
  height: 100%;
}

.reference_modal .accordion ul {
  height: calc(100% - 30px);
}

.reference_modal .accordion .list_content {
  height: 200px;
}

.reference_modal .index_content {
  width: 25%;
  height: 100%;
  border-left: 1px solid var(--gray5);
  border-right: 1px solid var(--gray5);
}

.reference_modal .index_content .list_wrap {
  height: calc(100% - 32px);
}

.reference_modal .form_area {
  width: 50%;
}
