.search_modal {
  width: 900px;
  height: 500px;
  padding: 10px;
}

.search_modal .search_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search_modal .search {
  border: 1px solid var(--gray4);
  background-color: var(--white);
  border-radius: 3px;
  height: 32px;
  width: 360px;
}

.main_table {
  height: calc(100% - 32px);
}
