<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서식별 문서관리</title>
    <link rel="stylesheet" href="../../../public/css/reset.css" />
    <link rel="stylesheet" href="../../../public/css/layout.css" />
    <link rel="stylesheet" href="../../../public/css/form.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="../../../public/js/jquery-3.6.0.min.js"></script>
    <script src="../../../public/js/global.js"></script>
  </head>

  <body>
    <script>
      $(document).ready(function () {
        $('header').load('../../../public/component/header.html');
        $('nav').load('../../../public/component/nav.html');
        $("[data-modal='reg']").load('./modal/reg.html');
        $("[data-modal='detail']").load('./modal/detail.html');
      });
    </script>
    <header></header>
    <main>
      <nav></nav>
      <div class="tab_wrap">
        <ul class="tab_list">
          <li class="active">
            <span>항목관리</span>
            <button>
              <img class="icon" src="../../../public/image/close.svg" alt="" />
            </button>
          </li>
        </ul>
        <section class="base_pd">
          <div class="type_wrap">
            <div class="type_header">
              <input type="text" placeholder="서식유형 입력" />
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_create_category.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_delete_category.svg"
                  alt=""
                />
              </button>
            </div>
            <ul>
              <li>상품설명서</li>
              <li>상품요약서</li>
              <li class="active">상품약관</li>
              <li>요율산정서</li>
            </ul>
          </div>
          <div class="stack_table">
            <div class="left_area">
              <div class="ct_header">
                <div class="search">
                  <img
                    class="icon"
                    src="../../../public/image/search.svg"
                    alt=""
                  />
                  <input type="text" placeholder="상품명/상품코드" />
                </div>
                <select class="select_style" required>
                  <option value="" hidden selected>항목구분</option>
                  <option value="">구분</option>
                </select>
                <button onclick="showModal('reg', '문서 항목 등록')">
                  <img
                    class="icon"
                    src="../../../public/image/template_create_item.svg"
                    alt=""
                  />
                </button>
                <button>
                  <img
                    class="icon"
                    src="../../../public/image/template_drop_item.svg"
                    alt=""
                  />
                </button>
              </div>
              <div class="main_table">
                <table>
                  <colgroup>
                    <col style="width: 22%" />
                    <col style="width: 18%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>항목명</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>항목구분</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>검증유형</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>등록자</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>등록일시</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active">
                      <td>
                        <p class="td_c">서식코드</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">코드6</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">서식명</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">Not Null</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">서식설명</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">없음</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">서식유형</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">Type2</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">서식여부</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">여부</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">기초서류</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">Not Null</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">등록일자</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">년월일</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">종료일자</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">년월일</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_c">내관리필드</p>
                      </td>
                      <td>
                        <p class="td_c">사용자</p>
                      </td>
                      <td>
                        <p class="td_c">없음</p>
                      </td>
                      <td>
                        <p class="td_c">최성연</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="control_btn">
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_moveUp.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_moveDown.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_moveRight.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_moveLeft.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_save_item.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_drop_item.svg"
                  alt=""
                />
              </button>
              <button>
                <img
                  class="icon"
                  src="../../../public/image/template_item_refresh_item.svg"
                  alt=""
                />
              </button>
            </div>
            <div class="right_area">
              <div class="search_header">
                <p>
                  <img
                    class="icon"
                    src="../../../public/image/template_item_current_number.svg"
                    alt=""
                  />
                  <span>상품약관 문서 관리 항목 : 00건</span>
                </p>
                <button
                  class="search_btn"
                  onclick="showModal('detail', '검증항목 등록/조회')"
                >
                  <div class="icon"></div>
                  <span>검증항목</span>
                  <img
                    class="icon"
                    src="../../../public/image/template_create_proved_item.svg"
                    alt=""
                  />
                </button>
              </div>
              <div class="main_table">
                <table>
                  <colgroup>
                    <col style="width: 22%" />
                    <col style="width: 18%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="table_sort" data-sort="">
                        <div class="td_l">
                          <span>항목명</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>항목구분</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>검증유형</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>상품구분</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>등록자</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                      <th class="table_sort" data-sort="">
                        <div class="td_c">
                          <span>등록일시</span>
                          <div class="sort_wrap">
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon asc"
                              alt=""
                            />
                            <img
                              src="../../../public/image/sort_icon.svg"
                              class="sort_icon desc"
                              alt=""
                            />
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active">
                      <td>
                        <p class="td_l">서식코드</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">코드6</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">서식명</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">Not Null</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">서식설명</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">없음</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">서식유형</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">Type2</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">서식여부</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">여부</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">기초서류</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">Not Null</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">등록일자</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">년월일</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">종료일자</p>
                      </td>
                      <td>
                        <p class="td_c">기본</p>
                      </td>
                      <td>
                        <p class="td_c">년월일</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">시스템관리자</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="td_l">내관리필드</p>
                      </td>
                      <td>
                        <p class="td_c">사용자</p>
                      </td>
                      <td>
                        <p class="td_c">없음</p>
                      </td>
                      <td>
                        <p class="td_c">장기</p>
                      </td>
                      <td>
                        <p class="td_c">최성연</p>
                      </td>
                      <td>
                        <p class="td_c">202009150900</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <div class="modal_bg">
      <div class="modal_area">
        <div class="modal_header">
          <span class="modal_title"></span>
          <div class="btn_wrap">
            <button>
              <img
                class="icon"
                src="../../../public/image/modal_hide_view.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon"
                src="../../../public/image/modal_enlarge_view.svg"
                alt=""
              />
            </button>
            <button onclick="closeModal()">
              <img
                class="icon"
                src="../../../public/image/modal_close_view.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <div class="modal_content" data-modal="reg"></div>
        <div class="modal_content" data-modal="detail"></div>
      </div>
    </div>
  </body>
</html>
