section {
    padding: 12px 10px 20px;
    display: flex;
}

.type_wrap {
    width: 200px;
    padding-right: 10px;
}

.stack_table {
    width: calc(100% - 200px);
}

.stack_table .main_table {
    height: calc(100% - 40px);
}

