<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서식별 문서관리</title>
    <link rel="stylesheet" href="../../../public/css/reset.css" />
    <link rel="stylesheet" href="../../../public/css/layout.css" />
    <link rel="stylesheet" href="../../../public/css/basictable.css" />
    <script src="../../../public/js/jquery-3.6.0.min.js"></script>
    <script src="../../../public/js/global.js"></script>
  </head>

  <body>
    <script>
      $(document).ready(function () {
        $('header').load('../../../public/component/header.html');
        $('nav').load('../../../public/component/nav.html');
        $("[data-modal='reg']").load('./modal/reg.html');
      });
    </script>
    <header></header>
    <main>
      <nav></nav>
      <div class="tab_wrap show">
        <ul class="tab_list">
          <li class="active">
            <span>서식관리</span>
            <button>
              <img class="icon" src="../../../public/image/close.svg" alt="" />
            </button>
          </li>
        </ul>
        <section>
          <div class="section_header">
            <div class="search_wrap">
              <div class="left_area">
                <div class="search">
                  <img
                    class="icon"
                    src="../../../public/image/search.svg"
                    alt=""
                  />
                  <input type="text" placeholder="서식명/서식코드" />
                  <button>
                    <img
                      class="icon"
                      src="../../../public/image/nav_class.svg"
                      alt=""
                    />
                  </button>
                </div>
                <p class="search_desc">
                  <img
                    class="icon"
                    src="../../../public/image/template_selected_code.svg"
                    alt=""
                  />
                  <span>선택한 서식명(서식코드) : (DOC0000001) (무배당) 상품약관</span>
                </p>
              </div>
              <button class="search_btn">
                <div class="icon"></div>
                <span>검색</span>
                <img
                  class="icon color_i"
                  src="../../../public/image/btn_search.svg"
                  alt=""
                />
              </button>
            </div>
            <div class="page_wrap">
              <div class="left_area">
                <p class="em_desc">
                  등록된 서식
                </p>
                <div class="page">
                  <span>000 건</span>
                  <select class="select_s">
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
              </div>
              <div class="right_area">
                <button onclick="showModal('reg', '서식등록')">
                  <img
                    class="icon"
                    src="../../../public/image/doc_create_item.svg"
                    alt=""
                  />
                </button>
                <button>
                  <img
                    class="icon"
                    src="../../../public/image/doc_edit_item.svg"
                    alt=""
                  />
                </button>
                <button>
                  <img
                    class="icon"
                    src="../../../public/image/doc_drop_item.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="main_table">
            <table>
              <colgroup>
                <col style="width: 12%" />
                <col style="width: 18%" />
                <col style="width: 18%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 12%" />
              </colgroup>
              <thead>
                <tr>
                  <th class="table_sort" data-sort="">
                    <div class="td_l">
                      <span>서식코드</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>서식명</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>서식유형</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>버전</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>등록부서</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>등록자</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>등록일시</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                  <th class="table_sort" data-sort="">
                    <div class="td_c">
                      <span>최종변경일시</span>
                      <div class="sort_wrap">
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon asc"
                          alt=""
                        />
                        <img
                          src="../../../public/image/sort_icon.svg"
                          class="sort_icon desc"
                          alt=""
                        />
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="active">
                  <td>
                    <p class="td_l">A0011</p>
                  </td>
                  <td>
                    <p class="td_c">화상분류표</p>
                  </td>
                  <td>
                    <p class="td_c">별표</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">A0012</p>
                  </td>
                  <td>
                    <p class="td_c">화상분류표</p>
                  </td>
                  <td>
                    <p class="td_c">별표</p>
                  </td>
                  <td>
                    <p class="td_c">V2.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">A0021</p>
                  </td>
                  <td>
                    <p class="td_c">골절분류표</p>
                  </td>
                  <td>
                    <p class="td_c">별표</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">A0031</p>
                  </td>
                  <td>
                    <p class="td_c">20대특정질병 분류표</p>
                  </td>
                  <td>
                    <p class="td_c">별표</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">A0041</p>
                  </td>
                  <td>
                    <p class="td_c">급성심근경색증 분류표</p>
                  </td>
                  <td>
                    <p class="td_c">별표</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">B0011</p>
                  </td>
                  <td>
                    <p class="td_c">의료법</p>
                  </td>
                  <td>
                    <p class="td_c">법규</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">B0012</p>
                  </td>
                  <td>
                    <p class="td_c">의료법</p>
                  </td>
                  <td>
                    <p class="td_c">법규</p>
                  </td>
                  <td>
                    <p class="td_c">V2.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">B0021</p>
                  </td>
                  <td>
                    <p class="td_c">상법</p>
                  </td>
                  <td>
                    <p class="td_c">법규</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">B0031</p>
                  </td>
                  <td>
                    <p class="td_c">전자서명법</p>
                  </td>
                  <td>
                    <p class="td_c">법규</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">C0011</p>
                  </td>
                  <td>
                    <p class="td_c">개인신용정보 제공·이용에 대한 고객 권리 안내문</p>
                  </td>
                  <td>
                    <p class="td_c">약관전반부</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">C0021</p>
                  </td>
                  <td>
                    <p class="td_c">보험약관해설</p>
                  </td>
                  <td>
                    <p class="td_c">약관전반부</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">C0031</p>
                  </td>
                  <td>
                    <p class="td_c">보험계약의 개요</p>
                  </td>
                  <td>
                    <p class="td_c">약관전반부</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">C0041</p>
                  </td>
                  <td>
                    <p class="td_c">보험계약의 일반사항</p>
                  </td>
                  <td>
                    <p class="td_c">약관전반부</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">C0051</p>
                  </td>
                  <td>
                    <p class="td_c">보험금 청구절차 및 서류</p>
                  </td>
                  <td>
                    <p class="td_c">별표</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="td_l">C0061</p>
                  </td>
                  <td>
                    <p class="td_c">보험용어 설명</p>
                  </td>
                  <td>
                    <p class="td_c">약관전반부</p>
                  </td>
                  <td>
                    <p class="td_c">V1.0</p>
                  </td>
                  <td>
                    <p class="td_c">장기상품팀</p>
                  </td>
                  <td>
                    <p class="td_c">admin</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                  <td>
                    <p class="td_c">2023-04-01</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </main>
    <div class="modal_bg">
      <div class="modal_area">
        <div class="modal_header">
          <span class="modal_title"></span>
          <div class="btn_wrap">
            <button>
              <img
                class="icon color_i"
                src="../../../public/image/modal_hide_view.svg"
                alt=""
              />
            </button>
            <button>
              <img
                class="icon color_i"
                src="../../../public/image/modal_enlarge_view.svg"
                alt=""
              />
            </button>
            <button onclick="closeModal()">
              <img
                class="icon color_i"
                src="../../../public/image/modal_close_view.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <div class="modal_content" data-modal="reg"></div>
      </div>
    </div>
  </body>
</html>
